[Desktop Entry]
Name=Tulip Petals

X-KDE-PluginInfo-Name=Tulip Petals
X-KDE-PluginInfo-Author=Gustav Stening
X-KDE-PluginInfo-Email=http://www.flickr.com/photos/gstening/
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-ND
