[Desktop Entry]
Name=Sirius

X-KDE-PluginInfo-Name=Sirius
X-KDE-PluginInfo-Author=Malcer
X-KDE-PluginInfo-Email=malcer@gmx.com
X-KDE-PluginInfo-License=CreativeCommons-BY-NC-SA
