[Desktop Entry]
Name=Dharma

X-KDE-PluginInfo-Name=Dharma
X-KDE-PluginInfo-Author=Yoni Lopez and Lea Csontos (Original name Minta)
X-KDE-PluginInfo-Email=https://kiko11.deviantart.com/ | http://www.sxc.hu/profile/csontoslea
X-KDE-PluginInfo-License=CreativeCommons-BY-ND
